
@{
    ViewBag.Title = "Pazaryeri Güncelle";
    Layout = "~/Shared/_LayoutPage.cshtml";
}

@model SipsisDAL.Market
<div class="col-md-12">
    <div class="card">
        <form class="form-horizontal" action="/Market/Update" method="post">
            <div class="card-body">
                <h4 class="card-title">Pazaryeri Güncelleme Ekranı</h4>
                <div class="form-group row">
                    <input type="text" name="ID" value="@Model.Id" hidden />
                    <label for="fname" class="control-label col-form-label">Pazaryeri Adı</label>
                    <div class="col-12">
                        <input type="text" name="MarketName" class="form-control" id="fname" placeholder="Lütfen Pazaryeri Adınızı Giriniz......" required value="@Model.MarketName">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="lname" class="control-label col-form-label">Komisyon Oranı</label>
                    <div class="col-12">
                        <input type="text" name="Commission" class="form-control" id="lname" placeholder="Lütfen Komisyon Oranını Giriniz....." required value="@Model.Commission">
                    </div>

                </div>
            </div>
            <div class="border-top">
                <div class="card-body">
                    <button type="submit" class="btn btn-warning">Güncelle</button>
                </div>
            </div>
        </form>
    </div>

</div>

